language: python
python:
- "2.7"

install: "pip install -r requeriments.txt"

before_script:
- autopep8 -ir *
- flake8 -max-complexity=3 --exclude=*.txt,*.md --max-line-length=200 *

script:

- letture AceptaceTest
- cd unittest
- python TestCalculadora.py -v
- coverage run --branch TestCalculadora.py
- coverage report -m
